input {
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}
.container {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  margin: 2rem;
}
button {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 18px;
}
.panel-footer {
  display: flex;
  justify-content: space-evenly;
}
/* Add some margins for each label */
.container label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.container input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
